#files-tree {
	width: 100%;
}

#files-tree {
	border-spacing: 0 2px;
}

#files-tree tr:hover {
	background-color: #f8f8f8;
	width: 100%;
}

#files-tree .layout-col, #files-tree .edit-view-col, #files-tree .delete-col {
	width: 100px;
}

#files-tree .layout-col select {
	width: 65px;
}

#popup-overlay {
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 1000;
	opacity: 0.5;
	filter:alpha(opacity=50);
	background-color:#ffffff;
}

#popup-container {
	display: none;
	left: 0px;
	top: 0px;
	position: absolute;
	width: 100%;
	height: 100%;	
}

#popup {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	z-index: 1001;
	top: 20px;
	background: gray;
	padding: 5px;
}

#popup.is-editing-source {
	width: 940px;
	height: 420px;
}

#popup.is-viewing-source {
	width: 800px;
	height: 420px;
}

#popup.is-editing-links {
	width: 450px;
	height: 420px;
}

#popup.is-editing-filename {
	width: 180px;
	height: 90px;
	top: 100px;
}

#popup.is-editing-filename .input-container, #popup.is-editing-filename .actions {
	padding: 7px 10px 3px 10px;
	width: 100%;
	height: 100%;
}

#popup.is-editing-filename input {
	width: 155px;
}

#popup.is-editing-filename button {
	margin-right: 5px;
}

#popup .content {
	background: white;
	width: 100%;
	height: 100%;
}

#popup .lhs {
	height: 100%;
	margin-left: 3px;
}

#popup #Form_FileEditForm_SourceText {
	width: 750px;
	height: 347px;
	font-size: 9pt;
	font-family: "courier","sans-serif";
}

#popup #Form_LinkedFileViewForm_SourceText {
	width: 925px;
	height: 340px;
	font-size: 9pt;
	font-family: "courier","sans-serif";
	overflow: auto;
}

#popup #Form_LinkedFileViewForm .Actions {
	margin-left: 4px;
}

#popup .lhs {
	width: 750px;
	float: left;
}

#popup .rhs {
	width: 150px;
	margin: 3px;
	float: left;
}

/* This are for helpers */
#popup .insertable {
	margin: 0 0 4px 0;
}

#popup .insertable:hover {
	background-color: #efefef;
}

/* Composite fields with buttons - lay them out left to right, nicely */
#Root_Properties .CompositeField, #Root_Files .CompositeField {
	margin-left: 0;
}

#Root_Properties .CompositeField div, #Root_Files .CompositeField div {
	float: left;
	width: auto;
	clear: none;
	padding: 0.2em 0 0.2em 0;
}

#popup #Form_ThemeLinkOptionsForm,
#popup #Form_ThemeLinkOptionsForm div.scrolls,
#popup #Form_ThemeLinkOptionsForm fieldset,
#popup #Form_ThemeCopyOptionsForm,
#popup #Form_ThemeCopyOptionsForm div.scrolls,
#popup #Form_ThemeCopyOptionsForm fieldset {
	width: 100%;
}

#popup #Form_ThemeLinkOptionsForm div.scrolls,
#popup #Form_ThemeLinkOptionsForm fieldset,
#popup #Form_ThemeCopyOptionsForm div.scrolls,
#popup #Form_ThemeCopyOptionsForm fieldset {
	height: 373px;
}

#popup #Form_ThemeLinkOptionsForm .Actions,
#popup #Form_ThemeCopyOptionsForm .Actions {
	margin: 8px 0 0 7px;
}

.scrolls {
	overflow: scroll;
}
